.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* ⬅️ key change */

    z-index: 9999;
}

/* Bottom Sheet */
.modal-content {
    width: 100%;
    max-width: 500px;
    border-top: 4px solid #069494;
    background: #fff;
    border-radius: 20px 20px 0 0;

    padding: 20px;

    animation: slideUp 0.3s ease;

    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.15);
}

/* Little drag handle */
.modal-content::before {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background: #ccc;
    border-radius: 10px;
    margin: 0 auto 15px auto;
}

/* Animation */
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}